<a href="https://colab.research.google.com/github/saurabhsingh1411/analytics_vidhya/blob/main/AV%20Customer%20Segmentation%20Job%20a%20thon%2028%20May%2021/AV_CUSTROMER_SEGMENTATION_CLASSIFICATION_28_MAY%5BRandom_Forest_Regression%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Datasets and Lib

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [4]:
print(train.shape)

(245725, 11)

Data Cleaning Step

In [5]:
train.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [6]:
train['Credit_Product'].value_counts()

No     144357
Yes     72043
Name: Credit_Product, dtype: int64

In [7]:
train['Credit_Product']=train['Credit_Product'].map({'No':0,'Yes':1})

train.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [8]:
train['Credit_Product']=train['Credit_Product'].fillna(0.5)

train['Credit_Product'].value_counts()

0.0    144357
1.0     72043
0.5     29325
Name: Credit_Product, dtype: int64

In [9]:
train.isnull().sum()

ID                     0
Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
Is_Lead                0
dtype: int64

In [10]:
train['Channel_Code'].value_counts()

X1    103718
X3     68712
X2     67726
X4      5569
Name: Channel_Code, dtype: int64

Lable Encooding the Item

In [11]:
le=LabelEncoder()

In [12]:
train['Gender']=le.fit_transform(train['Gender'])
train['Occupation']=le.fit_transform(train['Occupation'])
train['Is_Active']=le.fit_transform(train['Is_Active'])
train['Channel_Code']=le.fit_transform(train['Channel_Code'])

In [13]:
train.tail(10)

              ID  Gender  Age  ... Avg_Account_Balance  Is_Active  Is_Lead
245715  EJMPTVQZ       0   26  ...              903608          1        0
245716  JVSEPN7L       1   41  ...              368949          1        0
245717  LALZCPEV       1   42  ...              217266          1        0
245718  UMKANGED       1   40  ...              864937          1        0
245719  DQ48DATH       0   38  ...              354665          0        0
245720  BPAWWXZN       1   51  ...             1925586          0        0
245721  HFNB7JY8       1   27  ...              862952          1        0
245722  GEHAUCWT       0   26  ...              670659          0        0
245723  GE7V8SAH       0   28  ...              407504          0        0
245724  BOCZSWLJ       1   29  ...             1129276          0        0

[10 rows x 11 columns]

In [14]:
train=train.drop(labels=['ID','Region_Code'],axis=1)

train.head()

   Gender  Age  Occupation  ...  Avg_Account_Balance  Is_Active  Is_Lead
0       0   73           1  ...              1045696          0        0
1       0   30           2  ...               581988          0        0
2       0   56           3  ...              1484315          1        0
3       1   34           2  ...               470454          0        0
4       0   30           2  ...               886787          0        0

[5 rows x 9 columns]

In [15]:
y=train['Is_Lead']

In [16]:
train=train.drop(['Is_Lead'],axis=1)

In [17]:
train.head()

   Gender  Age  Occupation  ...  Credit_Product  Avg_Account_Balance  Is_Active
0       0   73           1  ...             0.0              1045696          0
1       0   30           2  ...             0.0               581988          0
2       0   56           3  ...             0.0              1484315          1
3       1   34           2  ...             0.0               470454          0
4       0   30           2  ...             0.0               886787          0

[5 rows x 8 columns]

Standard Scaling all the component

In [18]:
sc=StandardScaler()
train=sc.fit_transform(train)

In [19]:
train.shape

(245725, 8)

In [20]:
type(train)

numpy.ndarray

Splitting the datasets

In [21]:
X_train,X_test,y_train,y_test=train_test_split(train,y,test_size=0.1,random_state=35)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(221152, 8)
(24573, 8)
(221152,)
(24573,)

In [22]:
from sklearn.ensemble import RandomForestClassifier

rfc=RandomForestClassifier()

rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
y_pred=rfc.predict(X_test)

In [24]:
help(classification_report)

Help on function classification_report in module sklearn.metrics._classification:

classification_report(y_true, y_pred, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
    Build a text report showing the main classification metrics

    Read more in the :ref:`User Guide <classification_report>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : array, shape = [n_labels]
        Optional list of label indices to include in the report.

    target_names : list of strings
        Optional display names matching the labels (same order).

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    digits : int
        Number of digits for formatting output floating point values.
        When ``output_dict`` is ``True``, this will be ignored and the
        returned values will not be rounded.

    output_dict : bool (default = False)
        If True, return output as dict

    zero_division : "warn", 0 or 1, default="warn"
        Sets the value to return when there is a zero division. If set to
        "warn", this acts as 0, but warnings are also raised.

    Returns
    -------
    report : string / dict
        Text summary of the precision, recall, F1 score for each class.
        Dictionary returned if output_dict is True. Dictionary has the
        following structure::

            {'label 1': {'precision':0.5,
                         'recall':1.0,
                         'f1-score':0.67,
                         'support':1},
             'label 2': { ... },
              ...
            }

        The reported averages include macro average (averaging the unweighted
        mean per label), weighted average (averaging the support-weighted mean
        per label), and sample average (only for multilabel classification).
        Micro average (averaging the total true positives, false negatives and
        false positives) is only shown for multi-label or multi-class
        with a subset of classes, because it corresponds to accuracy otherwise.
        See also :func:`precision_recall_fscore_support` for more details
        on averages.

        Note that in binary classification, recall of the positive class
        is also known as "sensitivity"; recall of the negative class is
        "specificity".

    See also
    --------
    precision_recall_fscore_support, confusion_matrix,
    multilabel_confusion_matrix

    Examples
    --------
    >>> from sklearn.metrics import classification_report
    >>> y_true = [0, 1, 2, 2, 2]
    >>> y_pred = [0, 0, 2, 2, 1]
    >>> target_names = ['class 0', 'class 1', 'class 2']
    >>> print(classification_report(y_true, y_pred, target_names=target_names))
                  precision    recall  f1-score   support
    <BLANKLINE>
         class 0       0.50      1.00      0.67         1
         class 1       0.00      0.00      0.00         1
         class 2       1.00      0.67      0.80         3
    <BLANKLINE>
        accuracy                           0.60         5
       macro avg       0.50      0.56      0.49         5
    weighted avg       0.70      0.60      0.61         5
    <BLANKLINE>
    >>> y_pred = [1, 1, 0]
    >>> y_true = [1, 1, 1]
    >>> print(classification_report(y_true, y_pred, labels=[1, 2, 3]))
                  precision    recall  f1-score   support
    <BLANKLINE>
               1       1.00      0.67      0.80         3
               2       0.00      0.00      0.00         0
               3       0.00      0.00      0.00         0
    <BLANKLINE>
       micro avg       1.00      0.67      0.80         3
       macro avg       0.33      0.22      0.27         3
    weighted avg       1.00      0.67      0.80         3
    <BLANKLINE>

In [25]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.92      0.90     18654
           1       0.71      0.58      0.64      5919

    accuracy                           0.84     24573
   macro avg       0.79      0.75      0.77     24573
weighted avg       0.83      0.84      0.83     24573

In [26]:
y_pred

array([0, 0, 1, ..., 0, 1, 0])

predicting on Testing Sets

In [27]:
test.head()

         ID  Gender  Age  ... Credit_Product Avg_Account_Balance Is_Active
0  VBENBARO    Male   29  ...            Yes              742366        No
1  CCMEWNKY    Male   43  ...            NaN              925537        No
2  VK3KGA9M    Male   31  ...             No              215949        No
3  TT8RPZVC    Male   29  ...             No              868070        No
4  SHQZEYTZ  Female   29  ...             No              657087        No

[5 rows x 10 columns]

In [28]:
test.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         12522
Avg_Account_Balance        0
Is_Active                  0
dtype: int64

In [29]:
test['Credit_Product']=test['Credit_Product'].map({'No':0,'Yes':1})

test.head()

         ID  Gender  Age  ... Credit_Product Avg_Account_Balance Is_Active
0  VBENBARO    Male   29  ...            1.0              742366        No
1  CCMEWNKY    Male   43  ...            NaN              925537        No
2  VK3KGA9M    Male   31  ...            0.0              215949        No
3  TT8RPZVC    Male   29  ...            0.0              868070        No
4  SHQZEYTZ  Female   29  ...            0.0              657087        No

[5 rows x 10 columns]

In [30]:
test['Credit_Product']=test['Credit_Product'].fillna(0.5)

test['Credit_Product'].value_counts()

0.0    61608
1.0    31182
0.5    12522
Name: Credit_Product, dtype: int64

In [31]:
test['Gender']=le.fit_transform(test['Gender'])
test['Occupation']=le.fit_transform(test['Occupation'])
test['Is_Active']=le.fit_transform(test['Is_Active'])
test['Channel_Code']=le.fit_transform(test['Channel_Code'])

In [32]:
test=test.drop(labels=['ID','Region_Code'],axis=1)

test.head()

   Gender  Age  Occupation  ...  Credit_Product  Avg_Account_Balance  Is_Active
0       1   29           1  ...             1.0               742366          0
1       1   43           1  ...             0.5               925537          0
2       1   31           2  ...             0.0               215949          0
3       1   29           1  ...             0.0               868070          0
4       0   29           1  ...             0.0               657087          0

[5 rows x 8 columns]

In [33]:
sc=StandardScaler()
test=sc.fit_transform(test)

In [34]:
print(test.shape)

(105312, 8)

In [35]:
y_pred_test=rfc.predict(test)

In [36]:
y_pred_test[1:15]

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0])

In [37]:
test_final=pd.read_csv('test.csv')

In [38]:
test_final.head()

         ID  Gender  Age  ... Credit_Product Avg_Account_Balance Is_Active
0  VBENBARO    Male   29  ...            Yes              742366        No
1  CCMEWNKY    Male   43  ...            NaN              925537        No
2  VK3KGA9M    Male   31  ...             No              215949        No
3  TT8RPZVC    Male   29  ...             No              868070        No
4  SHQZEYTZ  Female   29  ...             No              657087        No

[5 rows x 10 columns]

In [39]:
submission=pd.DataFrame()
submission['ID']=test_final['ID']
submission['Is_Lead']=y_pred_test

In [40]:
submission.head()

         ID  Is_Lead
0  VBENBARO        0
1  CCMEWNKY        1
2  VK3KGA9M        0
3  TT8RPZVC        0
4  SHQZEYTZ        0

In [41]:
submission.to_csv('FinalSubmission.csv',index=False)